*{

    box-sizing: border-box;
  
    font-family: sans-serif;
}
main{
    width: 80%;
    margin: auto;
    color: white;
}
.container{
    color: black;
    display: flex;
}

header{
    display: flex;
    
    background-color: #523f99
}
header h1, header p:first-of-type{
    text-align: center;
}
header p:first-of-type{
    margin: 0;
}
.gauche{
    width: 60%;
    padding: 2rem;
    font-size: 1.2rem;
  
}
.descriptif {
    line-height: 2rem;
}
header h1{
    margin-bottom: 0;
}
header > p {
    margin-top: 0;
}
.droite{
    width: 40%;
    align-self: flex-end;
}
img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
   
   
   
   
}
footer{
    background-color: #161e38;
}

.competences{
    width: 50%;
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 2rem;
}
.exp{
    width: 50%;
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 2rem;
}

footer{
    padding-left: 10rem;
}
footer p:first-of-type{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}
footer p:last-of-type{
    font-size: 2rem;
    font-weight: 400;
      margin-top: 0;
}
i{
    font-size: xx-large;
    margin-right: 2rem;
    margin-bottom: 2rem;
}


@media screen and (max-width:   1024px) {
    main{
        width: 100%;
        margin: auto;
        color: white;
    }
    .container{
        
       
        flex-direction: column;
    }
    .main{
        text-align: center;
    }
    img{
        width: 20%;
        height: 20%;
        margin: 0 auto;
        align-self: center;
    }
    header{
        flex-direction: column-reverse;
        
    }
    .gauche{
        width: 100%;
        padding: auto;
       
    }
    h1{
        margin-top: 0;
    }
    .droite{
        width: 100%;
        display: flex;
        
    }
    .exp{
        width: 100%;
        text-align: center;
    }
    .competences{
        width: 100%;
        text-align: center;
    }


   

}